.signout:hover {
    /* background-color: rgb(151, 25, 46); */
    cursor: pointer;
}

.col1 {
    position: relative;
    width: auto;
    padding-right: 0.3%;
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 70%;
    width: 45%;
}

.card {
    width: 25rem;
    height: auto;
}
    
td {
    font-size: 19px;
}

.my-custom-scrollbar {
    height: 430px;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

.my-custom-scrollbar-1 {
    height: 500px;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

.my-custom-scrollbar-2 {
    height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.my-custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.my-custom-scrollbar-1::-webkit-scrollbar {
    display: none;
}

.my-custom-scrollbar-2::-webkit-scrollbar {
    display: none;
}

.col-table {
    position: relative;
    width: 61%;
}

.modal-90w {
    max-width: 90% !important;
}

.btn:focus {
    box-shadow: none !important;
}

.card-header {
    font-size: 18px;
}